body{
    display: flex;
    background-color: rgba(0, 0, 0, 0.164);
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
div[data-testid="profileCard"], div[data-testid="profileDetail"]{
    background-image: linear-gradient(180deg, rgb(0, 0, 20), rgb(0, 0, 40), rgb(0, 0, 60), rgb(0, 0, 80), rgb(0, 0, 100)) ;
    color: rgba(226, 224, 224, 0.966);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    margin: 4rem;
    padding: 3rem;
    max-width: 60vw;
}
div[data-testid="profileCard"]{
    align-items: center;
    text-align: center;
}
div[data-testid="profileCard"] p {
    padding: 10px;
}
img[data-testid="profilePicture"] {
    margin: auto;
    max-width: 50%;
    max-height: 50%;
    border-radius: 100%;
    background-color: white;
    padding: 0px;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.966);
    border: none;
}
#fullName {
    font-size: 1.5em;
    font-weight: bold;
}
p[data-testid="currentTimeUTC"] {
    font-size: 1.5em;
    font-weight: bold;
    font-family: monospace;
}
div[data-testid="socialLinks"] {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 620px) {
  div[data-testid="profileCard"], div[data-testid="profileDetail"]{
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
}
